.singleHotNews {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.singleHotNews__image {
  flex: 1;
  max-width: 450px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.singleHotNews__image img {
  max-width: 100%;
  height: auto;
  filter: grayscale(100%);
}

.singleHotNews__image img:hover {
  filter: grayscale(0%);
}

.singleHotNews__content {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 30px;
}

.singleHotNews__content .singleHotNews__content__text h3 {
  font-size: 1.6rem;
  margin-bottom: 20px;
}

/* .singleHotNews__content .singleHotNews__content__text p {
  font-size: 1.3rem;
} */

.singleHotNews__author {
  display: flex;
  align-items: center;
}

.singleHotNews__author__image img {
  max-width: 40px;
  width: 100%;
  height: auto;
  filter: grayscale(100%);
}
@media screen and (max-width: 700px) {
  .singleHotNews__content .singleHotNews__content__text p {
    font-size: 1.3rem;
  }
}

@media screen and (max-width: 1000px) {
  .singleHotNews__image {
    max-width: 650px;
  }
}
