/* Container styling */
.news-container {
  display: flex;
  flex-direction: column;
  align-items: center; /* Center align the news card */
  padding: 20px;
  position: relative;
}

/* Back button styling */
.back-button {
  align-self: flex-start; /* Align the button to the start of the container */
  margin-bottom: 20px; /* Space between the button and the news card */
  background-color: #e0af8e;
  color: black;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
  font-size: 1em;
}

.back-button:hover {
  background-color: #cfa284;
}

/* Card styling */
.news-card {
  padding: 10px;
  max-width: 900px;
  width: 100%;
  border: 1px solid #ddd;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #fff;
}

/* Image styling */
.news-image {
  width: 100%;
  height: auto;
}

/* Title styling */
.news-title {
  font-size: 2em;
  margin: 20px;
}

/* Text styling */
.news-text {
  font-size: 1em;
  line-height: 1.6;
  margin: 20px;
}

/* Responsive styling */
@media (max-width: 600px) {
  .news-title {
    font-size: 1.5em;
    margin: 15px;
  }

  .news-text {
    font-size: 0.9em;
    margin: 15px;
  }
}
