.news {
  display: flex;
  flex-direction: row;
  gap: 20px;
  padding: 10px 20px;
}

@media screen and (max-width: 1000px) {
  .news {
    flex-direction: column; /* Change to a column layout */
  }
}
