.header {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.6rem;
  font-weight: bold;
  padding: 30px 0;
  position: relative; /* Add this to make positioning the pseudo-elements easier */
  text-transform: uppercase;
}
.header .hue {
  background-color: rgba(
    224,
    175,
    143,
    70%
  ); /* Set the background color to orange */
  padding: 0 5px;
}

.header::before,
.header::after {
  content: "";
  position: absolute;
  top: 50%; /* Position the line vertically at the center of the text */
  width: 15%; /* Adjust the width of the line as needed */
  height: 2px; /* Adjust the height of the line as needed */
  background-color: #5b5758;
}

.header::before {
  left: 0; /* Line starts from the left */
}
.header::after {
  right: 0; /* Line starts from the right */
}

/* breakpoints */
@media (max-width: 500px) {
  header::before,
  .header::after {
    width: 15%; /* Adjust the width of the line as needed */
  }
}

@media (min-width: 500px) and (max-width: 760px) {
  .header {
    font-size: 1.8rem;
  }
  .header::before,
  .header::after {
    width: 20%; /* Adjust the width of the line as needed */
  }
}
@media (min-width: 760px) and (max-width: 980px) {
  .header {
    font-size: 2rem;
  }
  .header::before,
  .header::after {
    width: 25%; /* Adjust the width of the line as needed */
  }
}

@media (min-width: 980px) {
  .header {
    font-size: 2.2rem;
  }
  .header::before,
  .header::after {
    width: 30%;
  }
}
