.popularNews {
  flex: 3;
}
.popularNews h2 {
  margin-left: 10px;
  margin-bottom: 20px;
  font-weight: bold;
  font-size: 1.6rem;
}
.popularNews .container {
  /* border: 2px solid pink; */
  /* border-right: 2px solid #5b5758;
  padding: 10px; */
  display: flex;
  flex-direction: column;
  gap: 20px;
}

@media screen and (max-width: 900px) {
  .popularNews {
    width: 100%;
    border-right: none;
  }
  .popularNews .container {
    border: none;
  }
}
/* @media screen and (min-width: 900px) {
  .popularNews .container {
    padding-right: 30px;
  }
} */
