* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #e8dcb8;
}

.news {
  display: flex;
  flex-direction: row;
  gap: 20px;
  padding: 0 30px;
}

@media screen and (max-width: 800px) {
  .news {
    flex-direction: column; /* Change to a column layout */
  }
}
