/* SinglePopularNews.css */

.singlePopularNews {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.singlePopularNews__image {
  flex: 1;
  max-width: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.singlePopularNews__image img {
  max-width: 100%;
  height: auto;
  filter: grayscale(100%);
}
.singlePopularNews__image img:hover {
  filter: grayscale(0%);
}

.singlePopularNews__content {
  flex: 1;
  display: flex;
  flex-direction: column;
}
.singlePopularNews__content h3 {
  font-size: 1.8rem;
}

.singlePopularNews__author {
  margin-top: 15px;
  display: flex;
  align-items: center;
}

.singlePopularNews__author__image img {
  max-width: 40px;
  width: 100%;
  height: auto;
  filter: grayscale(100%);
}

@media screen and (max-width: 900px) {
  .singlePopularNews {
    flex-direction: column;
  }
  .singlePopularNews__image {
    max-width: 700px;
  }
}
