/* SinglePopularNews.css */

.singlePopularNews {
  display: flex;
  flex-wrap: wrap;
}

.singlePopularNews__image {
  flex: 1;
  max-width: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.singlePopularNews__image img {
  max-width: 100%;
  height: auto;
  filter: grayscale(100%);
}
.singlePopularNews__image img:hover {
  filter: grayscale(0%);
}

.singlePopularNews__content {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.singlePopularNews__author {
  display: flex;
  align-items: center;
}

.singlePopularNews__author__image img {
  max-width: 40px;
  width: 100%;
  height: auto;
  filter: grayscale(100%);
}
