.singlePopularNews {
  width: 100%;
  position: relative;
}
.singlePopularNews__image img {
  width: 100%;
  height: auto;
}
.singlePopularNews__content {
  padding: 15px 0px;
}
.csinglePopularNews__content h4 {
  font-size: 24px;
  color: #333;
  font-weight: 500;
}
.singlePopularNews__content p {
  color: #7e7e7e;
  font-size: 15px;
}
.singlePopularNews__content a {
  text-decoration: none;
  color: #000;
  margin-top: 12px;
  display: inline-block;
  background-color: #e0af8e;
  padding: 8px 15px;
}
.singlePopularNews .posted-date {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #e0af8e;
  display: inline-block;
  padding: 6px 15px;
}
